services:
  web:
    image: web
    environment:
      - ALLOW_OVERRIDE=true
      - HOSTNAME=db
      - USER=admin
      - PASSWORD=test
      - DB=database
    ports:
      - "81:80"
    links:
      - db
    volumes:
      - ./app:/var/www/html/
      - ./config/security.ini:/usr/local/etc/php/conf.d/security.ini
      - ./config/security.conf:/etc/apache2/conf-enabled/security.conf
      - ./start-web.sh:/start-web.sh   # Montar el script
    command: ["/start-web.sh"]  # Ejecutar el script al arrancar
    
  db:
    image: mariadb:10.8.2
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: database
    ports:
      - "8889:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - "8890:80"
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: database
